*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.input,
.select {
  height: 38px;
  font-size: 1rem;
  padding: 6px;
  border-radius: 6px;
  border: 1px solid rgb(217, 217, 217);
}

.input:not(.outlined) {
  border: none;
  border-radius: 0;
  border-bottom: 1px solid rgb(217, 217, 217);
}

.input:focus-visible:not(.outlined),
.input:focus:not(.outlined) {
  outline: 0;
  border-bottom: 1px solid darkblue;
}

.container {
  padding: 1rem;
}

.title {
  min-height: 2rem;
  margin-bottom: 1rem;
}

.form-control label {
  margin-bottom: 4px;
}

.form-control-horizontal,
.form-control {
  display: flex;
}
.form-control {
  flex-direction: column;
}

.form-control-horizontal {
  flex-direction: row;
  align-items: flex-end;
}

.duration-field .input {
  flex: 1;
}

.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.grid-1-2 > * {
  flex: 1 1 50%;
  width: 50%;
}

.fullWidth {
  flex-grow: 1;
}
